<!DOCTYPE html>
<html>
<head>
  <title>GraphAnalitycs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-container">
  
	<!-- top navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container">
    	<div class="navbar-header">
           <a class="navbar-brand" href="/fichiers">GraphAnalitycs</a>
    	</div>
       </div>
    </div>
      
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        
        <!-- sidebar -->
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-15" data-spy="scroll" data-target="#sidebar-nav">
          <div class="contenu" style="margin-left : 150px">
          </div>
          <%= yield %>
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->
	<!-- script references -->
	</body>
</html>
