<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style>
th, td {
    border: 1px solid black;
    background-color: white;
    color : black;
}

table {
    position: relative;
}

#title {
    text-decoration: underline;
}

th {
    height: 50px;
} 

th {
    background-color: green;
    color: white;
}

table {
    border-collapse: collapse;
}

</style>
<h1 id='title'>Analyse du Graph</h1>
<table style="width:100%">
  <tr>
    <th>Catégorie</th>
    <th>Charge</th>
    <th>Date</th>
  </tr>
<% @reponse.each do |key, value| %>
  <% value.each do |timming| %>
   <% tim = timming.second - timming.first%>
   <% if tim != 0 %>
   <td>
   <%= tim %>
   </td>
   <% end %>
  <%end%>
<%end%>
        
</table>
</br>

<div id="graph" style="width:100%; height:400px;"></div><br/>
<div id="chart_div" style="width:100%; height:400px;"></div>
<script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= raw [
            ['Timestamp', *@categs.keys.map(&:to_s)],
            *@points_by_time.map { |timestamp, categs|
              [timestamp, *categs.values]
            }] %>
        );

        var options = {
          title: '<%= @fichier.name %>',
          hAxis: {title: 'GraphAnalitycs',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('graph'));
        chart.draw(data, options);
        
        var circle = new google.visualization.DataTable();
        circle.addColumn('string', 'Topping');
        circle.addColumn('number', 'Slices');
        circle.addRows(
          <%= raw @reponse.map {|key, value|
            [key, value.count]
          } %>
        );

        // Set chart options
        var options = {'title':'Répartition des pics',
                       'width':940,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(circle, options);




      }
    </script>


    </script>

</script>

